body {
    font-family: "Open Sans", verdana, arial, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21374a;
    color: #fff;
    height: 120px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 0px 30px 0px 30px;
}
.control-word {
    font-size: 24px;
    padding: 0px 20px 0px 20px;
}
.dash-dropdown {
    flex-grow: 2;
    max-width: 280px;
}
.VirtualizedSelectOption { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


.graphs {
    margin: 30px;
}

.footer {
    padding: 30px;
    background: #21374a;
    color: white;
}

.legal-text {
    font-size: 12px;
}